<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class='form-fill'>Finalize as informações</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :first_name, "Nome" %>
            <%= f.text_field :first_name, required: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :last_name, "Sobrenome" %>
            <%= f.text_field :last_name, required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, required: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :location, "Localização" %>
        <%= f.text_field :location, required: true, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :company, "Empresa" %>
            <%= f.text_field :company, required: true, autofocus: true, class: 'form-control'%>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :job_position, "Cargo" %>
            <%= f.text_field :job_position, required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :university, "Instituição de Ensino" %>
            <%= f.text_field :university, required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :course, "Curso" %>
            <%= f.text_field :course, required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Gerar meu vídeo personalizado", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
      <% end %> 
    </div>

    <div class="col-sm-6">
      <div class="text-center no-video">
        <img src='https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/neutral-face_1f610.png' class='img-fluid'><br/>
        <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <p class='text-muted'>Estamos aguardando você concluir o formulário.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
